# Discord Bot Token
BOT_TOKEN= 
# PRC (Police Roleplay Community) Server Key
SERVER_KEY= 

# Sentry Error Tracking
SENTRY_DSN= 
SENTRY_API_TOKEN= 
SENTRY_API_KEY= 

# Internal Logging Server
LOG_SERVER_AUTH= 

# CSRP Utilities API Key Generation
API_GENERATE_AUTH=

# Cookie API (Group Sales)
COOKIE_API_AUTH=

# ERM Bot API (Moderation Logging)
ERM_API_AUTH = 

# Dashboard API
DISCORD_CLIENT_ID = 
DISCORD_CLIENT_SECRET = 
DISCORD_REDIRECT_URI = 
DASHBOARD_SECRET_KEY = 
